.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-group {
    list-style: none;
    padding-left: 0;
}

.list-group-item {
    background: rgb(191, 237, 242);
}

.list-title {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
}