<div class="container">
    <div class="row center-content">
        <div class="col-md-6">
            <div class="container">
                <h1 class="list-title">Trip List</h1>
            </div>
            <br>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>London</td>
                        <td>England</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Manchester</td>
                        <td>England</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>São Paulo</td>
                        <td>Brasil</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>